<article>
  <h2><a href="<%= @item.path %>"><%= @item[:title] %></a></h2>
  <p><%= @item[:created_at] %></p>
  <hr />

  <% if @embedded %>
  <%= @item.compiled_content %>
  <% else %>
  <%= yield %>
  <% end %>


  <% if @embedded %>
  <p class="right"><a href="<%= @item.path %>">Comment</a></p>
  <% else %>
  <%= render 'disqus', :item => @item %>
  <% end %>
</article>
