<h1><%= @item[:title] %></h1>
<% if @item[:points] %>
<hr />
<p><b>Credits:</b> <%= @item[:points] %> ECTS Credits / <%= (@item[:points].to_i/1.5).round(1) %> work weeks.</p>
<% end %>

<% if @item[:group] %>
<p><b>Group size:</b> <%= @item[:group] %> persons.</p>
<% else %>
<p>Individual project.</p>
<% end %>

<hr />

<div>
  <% pics = get_images(@item) %>	
  <p>

  <% pics.each_with_index do |p, i| %>	
  
  <% if i % 5 == 0 %>
  </p><p>
  <% end %>
    
  <a class="gallery" rel="<%= @item[:title].downcase.gsub(/[\s\.\(\)"]+/, '_') %>" href="<%= p[:large].path %>" ><img src="<%= p[:small].path %>" /></a>

  <% end %>
  </p>

  <%= yield %>

  <p class="right"><a href="/portfolio/">&lt;&lt; Back to portfolio</a></p>

</div>
